<script>
  pageTitle = document.getElementById("page-title");
  pageTitle.textContent = pageTitleText;

  subtitle = document.getElementById("subtitle");
  subtitle.textContent = subtitleText;
</script>
<div class="landing">
  <header>
  <div id="utility">
    <form id="search" action="/search/" method="GET">
      <input type="text" name="q" placeholder="Search">
      <button type="submit"><span class="icon-search"></span></button>
    </form>
  </div>
  <div class="wrap">
    <div class="brand">
      <a class="logo" href="/">
        <img src="http://www.feedingtexas.org/assets/images/feeding-texas-id.png">
      </a>
    </div>
    <div class="secondary-nav">
      <nav>
        <ul>

          <li><a alt="Donate" href="https://donatenow.networkforgood.org/feeding-texas">Donate</a></li>

          <li><a alt="Get Help" href="http://www.feedingtexas.org/help/">Get Help</a></li>

          <li>
            <a alt="Menu" id="menu-toggle"><span class="icon-list"></span></a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="primary-nav">
      <nav>
        <ul>

          <li><a href="http://www.feedingtexas.org/learn/">Learn About Hunger</a></li>

          <li><a href="http://www.feedingtexas.org/work/">How We Help</a></li>

          <li><a href="http://www.feedingtexas.org/get-involved/">Get Involved</a></li>

          <li><a href="http://www.feedingtexas.org/about/">About Us</a></li>

          <li><a href="http://www.feedingtexas.org/news/">Latest Work</a></li>

        </ul>
      </nav>
    </div>
  </div>
</header>
  <div class="highlighted">
  <div class="wrap">
    <div class="bg-img" style="background: url(https://s3-us-west-2.amazonaws.com/assets.feedingtexas.org/images/banners/banner-07.png) center center no-repeat;background-size:cover;">
    </div>
    <div class="page-header has-background-image">
      <div class="text">
        <h1 id="page-title" class="page-title"></h1>
        <h3 id="subtitle"></h3>
      </div>
    </div>
  </div>
</div>
  <div class="main no-sidebars">
    <div class="wrap">
      <section class="content">
        {{outlet}}
      </section>
    </div>
  </div>
</div>
<footer>
	<div class="wrap">
		<div class="brand-feeding-texas">
      <a class="logo" href="/">
      	<img src="http://www.feedingtexas.org/assets/images/feeding-texas-id.png">
      </a>
    </div>
		<div class="brand-feeding-america">
      <a class="logo" href="/">
        <p>A member of</p>
        <img src="http://www.feedingtexas.org/assets/images/feeding-america.png">
      </a>
    </div>
		<div class="social">
			<ul>
				<li>
          <a href="https://www.facebook.com/pages/Texas-Food-Bank-Network/124609758702" target="_blank">
            <img src="http://www.feedingtexas.org/assets/images/social/facebook-icon.png" alt="Facebook"/>
          </a>
        </li>
				<li>
          <a href="https://twitter.com/FeedingTexas" target="_blank">
            <img src="http://www.feedingtexas.org/assets/images/social/twitter-icon.png" alt="Twitter" />
          </a>
        </li>
			</ul>
		</div>
    <nav class="primary">
    	<ul>
          <li><a href="http://www.feedingtexas.org/learn/">Learn About Hunger</a></li>
          <li><a href="http://www.feedingtexas.org/work/">How We Help</a></li>
          <li><a href="http://www.feedingtexas.org/get-involved/">Get Involved</a></li>
          <li><a href="http://www.feedingtexas.org/about/">About Us</a></li>
          <li><a href="http://www.feedingtexas.org/news/">Latest Work</a></li>
      </ul>
    </nav>
    <nav class="secondary">
    	<ul>
    	<li><a alt="Donate" href="https://donatenow.networkforgood.org/feeding-texas">Donate</a></li>
        <li><a alt="Get Help" href="http://www.feedingtexas.org/help/">Get Help</a></li>
      </ul>
	  </nav>
	</div>
</footer>
