<!-- Begin MailChimp Signup Form -->
<form class="sign-up-action" action="//tfbn.us2.list-manage.com/subscribe/post?u=dbef64c7ad359a661d8c1d9f8&amp;id=be454761a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <input type="text" name="EMAIL" id="mce-EMAIL" placeholder="Enter email">
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_dbef64c7ad359a661d8c1d9f8_be454761a8" tabindex="-1" value=""></div>
  <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button primary-btn">
  <div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->