<footer>
	<div class="row">
		<div class="large-12 columns">
	    <nav class="primary">
	    	<ul>
	    		{% for link in site.data.primary %}
	        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
	    		{% endfor %}
	      </ul>
	    </nav>
	    <nav class="secondary">
	    	<ul>
	    		{% for link in site.data.secondary %}
	        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
	    		{% endfor %}
	      </ul>
		  </nav>
		</div>
	</div>
</footer>