<header>
  <div id="utility">
  	<form id="search" action="{{site.baseurl}}/search/" method="GET">
      <input type="text" name="q" placeholder="Search">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="wrap">
    <div class="brand">
      <a class="logo" href="/">
      	<img src="{{ site.baseurl }}/assets/images/feeding-texas-id.png">
      </a>
    </div>
    <div class="secondary-nav">
      <nav>
        <ul>
      		{% for link in site.data.action %}
          <li><a alt="{{ link.title }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
      		{% endfor %}
      		<li id="site-search">
      			<a id="search-toggle"><span  class="icon-search"></span></a>
      		</li>
      		<li>
            <a alt="Menu" id="menu-toggle"><span class="icon-list"></span></a>
      		</li>
        </ul>
      </nav>

    </div>
    <div class="primary-nav">
      <nav>
      	<ul>
      		{% for link in site.data.primary %}
          <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
      		{% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
