---
layout: default
title: Home
banner: banner-01.jpg
---
<div class="home">
  <div class="splash">
  	<div class="bg-img" style="background: url({{ site.baseurl }}/assets/images/banners/{{page.banner}}) center center no-repeat;background-size:cover;">
  	</div>
  	<div class="leadin">
  		<h1>We lead a unified effort for a hunger-free Texas.</h1>
  		<div class="finder">
  		  <h3>Get statistics for your community:</h3>
          <select id='options' data-placeholder="Zip code" class="chosen-select">
            <!-- Include blank option for placeholder value -->
            <option></option>
            {% for zipcode in site.data.zips %}
              <option value="{{ site.baseurl }}/zip/{{ zipcode }}">{{ zipcode }}</option>
            {% endfor %}
          </select>
      </div>
  	</div>
  </div>
  <div class="main">
  	<div class="wrap">
  		<section>
      	<h2 class="section-header">What We've Been Saying<span class="divider"></span></h2>
        <div class="featured-press">
          {% for press in site.press %}
            {% if press.featured == true %}
            <article class="teaser press">
              <div class="pullquote"><a href="{{ site.baseurl }}{{ press.url }}">{{ press.pullquote }}</a></div>
              {% if press.author %}
                {% for staff in site.staff %}
                  {% if press.author == staff.id %}
                    <div class="staff-member small">
                      <div class="photo"><img src="{{ site.baseurl }}/assets/images/staff/{{ staff.image }}"></div>
                      <div class="info">
                      	<h3><a href="{{ site.baseurl }}{{ staff.url }}">{{ staff.name }}</a></h3>
                      	<p>{{ press.date | date: "%B %-d, %Y"}}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </article>
            {% endif %}
          {% endfor %}
        </div>
      </section>
  	</div>
  </div>
  <div class="the-latest">
  	<div class="wrap">
      <section class="featured-blog">
      	<h2 class="section-header"><span>Our Blog</span></h2>
        {% for post in site.posts %}
          {% if post.featured == true limit:1%}
          <article>
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>Published {{ post.date | date: "%B %-d, %Y"}}</p>
            <p>{{ post.summary }}</p>
          </article>
          {% endif %}
        {% endfor %}
        <a href="{{ site.baseurl }}/news/blog/">View More</a>
      </section>
      <section class="featured-resource">
      	<h2 class="section-header"><span>Recent Reports</span></h2>
        {% for product in site.products %}
          {% if product.layout == "product" and product.featured == true limit:1 %}
          <article>
            <h2><a href="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a></h2>
            <p>{{ product.summary }}</p>
          </article>
          {% endif %}
        {% endfor %}
        <a href="{{ site.baseurl }}/learn/research.html">View More</a>
      </section>
    </div>
  </div>
</div>
