---
layout: default
title: Home
---

<div class="highlighted">
  <div class="wrap">
    <section>
    	<h2 class="section-header"><span>Press</span></h2>
      <div class="featured-press">
        {% for post in site.posts %}
          {% if post.layout == "press" and post.featured == "true" %}
          <article>
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.pullquote }}</a> <span class="attribution">{{ post.attribution }}</span></h2>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <p>Published {{ post.date | date: "%B %-d, %Y"}}</p>
          </article>
          {% endif %}
        {% endfor %}
        <a href="{{ site.baseurl }}/news/press/">View All Press</a>
      </div>
    </section>
  </div>
</div>

<div class="content-carousel">
	<div class="wrap">
	  <h2 class="section-header"><span>Featured Work</span></h2>
    <div class="flexslider carousel">
      <ul class="slides">
        {% for post in site.posts %}
          {% if post.layout == "product" and post.featured == "true" %}
          <li>
            <img src="http://placehold.it/450x250&text=Product Type Icon" />
            <div class="flex-caption">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <p>{{ post.summary }}</p>
            </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="content-bottom">
  <div class="wrap">
  	<h2 class="section-header"><span>From The Blog</span></h2>
    <section class="main">
    {% for post in site.posts %}
      {% if post.layout == "blog" %}
      <article>
        <div class="hero">
          <img src="http://placehold.it/450x200">
        </div>
        <div class="leadin">
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.summary }}</p>
          <a class="button primary" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
        </div>
      </article>
      {% endif %}
    {% endfor %}
    </section>
    <aside class="sidebar-second">
       <img src="http://placehold.it/450x200&text=Email Newsletter Signup" />
        <img src="http://placehold.it/450x200&text=Twitter Widget" />
    </aside>
  </div>
</div>  


