---
layout: default
title: News
calls_to_action:
  - 1
  - 2
---
<div class="latest-work">
  <div class="highlighted">
    <div class="wrap">
      <section>
      	<h2 class="section-header">Latest Press Release<span class="divider"></span></h2>
        <div class="featured-press">
          {% for press in site.press %}
            {% if press.featured == true %}
            <article class="teaser press">
              <div class="pullquote"><a href="{{ site.baseurl }}{{ press.url }}">{{ press.pullquote }}</a></div>
              {% if press.author %}
                {% for staff in site.staff %}
                  {% if press.author == staff.id %}
                    <div class="staff-member small">
                      <div class="photo"><img src="{{ staff.image }}"></div>
                      <div class="info">
                      	<h3><a href="{{ site.baseurl }}{{ staff.url }}">{{ staff.name }}</a></h3>
                      	<p>{{ press.date | date: "%B %-d, %Y"}}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}

            </article>
            {% endif %}
          {% endfor %}
          <a class="view-all" href="{{ site.baseurl }}/news/press/"><span>View All</span></a>
        </div>
      </section>
    </div>
  </div>

  <div class="content-carousel">
  	<div class="wrap">
  	  <h2 class="section-header">Featured Research<span class="divider"></span></h2>
      <div class="flexslider carousel">
        <ul class="slides">
          {% for product in site.products %}
            {% if product.featured == true %}
            <li>
              {% include widgets/product_icon/product-icon.html %}
              <div class="flex-caption">
                <h2><a href="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a></h2>
                <p>{{ product.summary }}</p>
              </div>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <a href="{{ site.baseurl }}/learn/research.html">View All</a>
    </div>
  </div>

  <div class="content-bottom">
    <div class="wrap">
    	<h2 class="section-header">From The Blog<span class="divider"></span></h2>
      <section class="main">
        {% for post in site.posts %}
          <article>
            <div class="hero">
              <img src="{{ post.images.thumb }}">
            </div>
            <div class="leadin">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <p>{{ post.summary }}</p>
              <a class="button primary-btn" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
            </div>
          </article>
        {% endfor %}
        <a href="{{ site.baseurl }}/news/blog/">View All</a>
        <br /><br /><br /><br />
      </section>
      <aside class="sidebar-second">
        <form class="sign-up-action" action="sign-up.html" method="GET">
          <h2>Subscribe to our mailing list</h2>
          <input type="text" name="email" placeholder="Enter email">
          <button type="submit" class="button primary-btn">Sign Up</button>
        </form>
        <a class="twitter-timeline" href="https://twitter.com/TexansVsHunger" data-widget-id="509850139641401344">Tweets by @TexansVsHunger</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </aside>
    </div>
  </div>
  {% include widgets/calls_to_action/calls-to-action.html %}
</div>
