.rep-card {
  background: $white;
  padding: 1em;
  margin-bottom: 1em;

  .rep-image {
    float: right;
    width: 100px;
  }
}

.cards-container .reset-btn,
.call-rep,
.email-rep {
  display: none;
}

.reset-btn {
  display: inline-block;
  margin-bottom: 2em;
}

.rep-form-wrapper {
  input[type=text] {
    background: $white;
    padding: 1em;
    height: auto;
  }
}

ul.errors {
  color: red;
}

.loading {
  display: none;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}
