.block-grid {
  overflow: hidden;

  .item {
    display: block;


    @include breakpoint($bp-medium, $no-query: false) {
      width: columns(6);
      float: left;
      margin-bottom: 1em;
      margin-right: 0.5em;
    }

    @include breakpoint($bp-large, $no-query: false) {
      //@include span-columns(4,12);
      width: columns(4);
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;

      &:nth-child(3n) {
        margin-right: 0;
        float: right;
      }
    }
  }
}
