.block-grid {
	> div.item {
		padding: 1em;
		@include breakpoint($bp-medium, $no-query: false) {
      width: percentage(12/12);
    }
    @include breakpoint($bp-large, $no-query: false) {
      float: left;
      width: percentage(4/12);
      &:nth-child(3n) { @include omega; }
    }
	}
}