.button.primary-btn {
	@include primary-btn();
}

.button.primary-cta {
	@include primary-cta();
}

.button.secondary-btn {
	@include secondary-btn();
}

.button[disabled] {
	background: $gray;
	color: $black;

	&:hover {
		background: $gray;
		color: $black;
	}
}
