.narrative {

}

.visualization {

}

#cost,
#people,
#children {
  display: block;
  height: 150px;
  width: 150px;
  background-repeat: none;
  margin: 0 auto;
}

#cost {
  background: url(../images/svg/money.svg);
  background-size: 150px 150px;
}

#people {
  background: url(../images/svg/people.svg);
  background-size: 150px 150px;
}

#children {
  background: url(../images/svg/children.svg);
  background-size: 150px 150px;
}

.total,
.cost,
.percentage {
	font-size: 3.5em;
	font-weight: 600;
	padding: 0.25em 0;
	display: inline-block;
  top: 10px;
  position: relative;
}

.key-stat {
	text-align: center;
	font-size: 1.5em;
	.total,
	.cost,
	.percentage {
		display: block;
	}
}

.total {}
.cost {}
.percentage {}


#cost-of-meal {}
#cost-vs-average {}
#insecurity-rate {}
#child-insecurity-rate {}
#insecure-children {}

#overview {
	.key-stat {
		.total,
    .cost,
    .percentage {
    	color: $orange;
    }
	}
}


#eligibility-age-breakdown {
	border-top: 1px solid #d2d2d2;
	.third {
		text-align: center;
		border-right: 1px solid #d2d2d2;
    margin-right: 0;
		padding-bottom: 0.5em;
		.total {
			display: block;
			padding: 0 0 0.25em;
		}
		&:last-child {
      border-right: 0;
		}
	}
}

#help {
  margin-top: 1em;
  .constituent-story {
    img {
      float: left;
      max-width: 100px;
      max-height: 100px;
      padding: 0 1em 1em 0;
    }
  }
  .foodbank.center {
    text-align: center;
  }
  p.button {
    margin: 2em 0;
  }
  .orange-button {
    background: $orange;
    color: $white;
    padding: 1em;
    &:hover {
        background: darken($orange, 5%);
    }
  }
}

.county-detail {
  .postal {
    display: block;
  }
  .section-header {
    margin-bottom: 0;
  }
}
