.crosslinks {
  @include clearfix;
  .cta {
  	background: $drkBrown;
    height: 250px;
    display: block;
    position: relative;
    @include box-sizing(border-box);
  	
  	@include breakpoint($bp-small, $no-query: false) {
			width: 100%;
			height: 250px;
    }
    
    @include breakpoint($bp-medium, $no-query: false) {
      width: 50%;
    }
    
    @include breakpoint($bp-large, $no-query: false) {
      width: 50%;
      height: 250px;
      float: left;
    }

    .bg-img {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        @include default-transition;
        @include opacity(0.4);
      }
    }
      
    .text {
      z-index: 1000;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;

      h3 {
      	color: $white;
      	font-size: 1.6em;
      	@include text-shadow(rgba(0,0,0,0.4) 0 3px 6px);
      }
    }


    // Hover Transitions
    &:hover {
      .bg-img {
      	img {
      		@include opacity(0.75);
      	}
      }
    }
  }
}
