.featured-press {
	width: 100%;
	@include breakpoint($bp-small, $no-query: true) {
    width: 100%;
  }
  @include breakpoint($bp-medium, $no-query: true) {
    width: 36em;
    margin: 0 auto;
  }
  @include breakpoint($bp-large, $no-query: true) {
    width: 52em;
    margin: 0 auto;
  }
}

article.teaser.press {
  .pullquote {
		font-size: 1.5em;
  	font-family: $base-font-family;
  	font-style: oblique;
  	padding-left: 125px;
  	background: transparent url('../images/quote.png') top left no-repeat;
		min-height: 124px;
  	a {
  		text-decoration: none;
  		color: $orange;
  		&:hover {
        color: lighten($orange, 10%);
  		}
  	}
    .attribution {
    	display: inline-block;
    	font-size: 20px;
    	font-style: italic;
    	color: #222;
    	&:before {
        content: "-";
        margin-right: 0.25em;
    	}
    }
  }
}
.pullquote {
	min-height: 124px;
}
