.filters {
	background: $beige;
	padding: 1em;
	margin-bottom: 1em;
	ul {
		@extend %horizontal-menu;
    li {
    	padding: 0 0.5em;
    	em {
    		font-weight: bold;
    	}
    	&:first-child {
        margin-right: 0.5em;
    	}
    }
  }
}

