// Location Finder
.finder {
  max-width: 350px;
  min-width: 280px;
  margin: 2em auto;
  position: relative;
  text-align: center;
  h3 {
    color: $white;
    font-size: 1.8em;
    @include text-shadow(0 3px 10px $black);
  }
  form {
    margin: 0 auto;
    position: relative;
    text-align: center;
    input[type="text"] {
      width: 85%;
      float: left;
    }
    #submit {
      width: 15%;
      float: left;
      padding: 0.825em 0.25em;
      line-height: 1em;
      font-size: 0.875em;
      @include primary-btn;
    }
  }

  .chosen-container-single {
    display: block;
    margin: 0 auto;
    @include box-shadow(0 3px 10px $black);
    .chosen-single {
      background: $white;
      border: none;
      border-radius: 0;
      padding: 0.3em 0;

      // Select box triangle
      div {
        margin-top: 4px;
      }
    }
    .chosen-drop {
      border: none;
      border-radius: 0;
    }
    .chosen-results li.highlighted {
      background: $orange;
    }
  }
}
