// Location Finder
.finder {
  max-width: 350px;
  margin: 2em auto;
  h3 {
    color: $orange; 
    @include text-shadow(0 1px 2px $black);
  }
  form {
    margin: 0 auto;
    position: relative;
    text-align: center;
    input[type="text"] {
      width: 85%;
      float: left;
    }
    #submit {
      width: 15%;
      float: left;
      padding: 0.825em 0.25em;
      line-height: 1em;
      font-size: 0.875em;
      @include primary-btn;
    }
  }
}
