footer {
  background: $drkBrown;
  border-top: 3px solid $orange;
  text-align: center;
  padding-left: 10px;
  
 
  ul {
    padding-left: 0;
  }

  .wrap {
    max-width: 80em;
  }

  .brand {
    text-align: center;
    img {
      width: 50%;
      @include breakpoint($bp-small) {
        width: auto;
      }
    }

    @include breakpoint($bp-xxsmall) {
      @include span-columns(2,12);
      padding-top: 2em;
      text-align: left;
    }

    p {
      font-size: 0.8em;
    }
  }




  .social {
    margin-top: 1em;
    li { display: inline; }
    img { width: 20%; }

    @include breakpoint($bp-xxsmall) {
      margin-top: 3em;
      @include span-columns(6,12);
    }
    @include breakpoint($bp-medium) {
      @include span-columns(3,12);
    }
  }

  nav.primary, nav.secondary {
    li {
      line-height: 1.5em;
      list-style-type: none;
      a:hover {
        color: $white;
      }
    }

    @include breakpoint($bp-xxsmall) {
      @include span-columns(3,12);
      text-align: right;
    }
  }

  nav.secondary {

    li a {
      @include secondary-btn;
      color: $white;
      display: inline-block;
      width: 129px;
    }
  }

  na.primary  {
    width: auto;
  }
}
