input {
	color: #222;
	background: #f1f1f1;
	border: 1px solid #f1f1f1;
	height: 2.3125em;
  margin: 0 0 1em;
  padding: 0.5em;
  width: 100%;
	@include box-sizing(border-box);
	@include transition(border-color 0.45s ease-in-out 0s);

	&:focus {
	  border-color: #d2d2d2;
	}
}

input[type="text"],
input[type="textarea"] {

}

input[type="submit"],
button {
	// @include primary-btn;
}

input[type="radio"],
input[type="checkbox"] {
	width: auto;
	height: auto;
}

form, #mc_embed_signup form {
  .field, .mc-field-group {
  	margin-bottom: 1em;
    .field-label, label {
    	font-weight: 600;
    	font-size: 1.125em;
    	margin-bottom: 0.5em;
    	padding: 0.125em 0;
    }
  }
  .postfix {
  	@include clearfix;
  	input[type="text"] {
  		float: left;
  		width: 75%;
  	}
  	.action {
  		float: left;
  		width: 25%;
  	}
  }
}

form.sign-up-action {
	background: $white;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: hidden;
	padding: 1em;

	input[type=text] {
		display: inline-block;
		width: 60%;
	}
	.button {
		display: inline-block;
		margin: 0;
		width: 38%;
	}
}

.highlighted {
	h2 { color: $orange; }
	form.sign-up-action {
    background: $drkBrown;
	}
}

#mc_embed_signup form {
	padding: 2em 1em;

	select {
		display: block;
		margin-top: 1em;
	}
	.button {
		width: auto;
		padding: 0.125em 1.125em;
	}

	.asterisk {
		color: $orange;
	}
}
