// @todo - Break this into partials
.highlighted {

}

.content {
	h1.page-title {
		text-align: center;
	}
}

.brand {
	h1.title {
		font-size: 1.5em;
	}
}



.donate {
	background: #f1f1f1;
	padding: 5em 0;
	.cta {
		text-align: center;
	}
}
