// @todo - Break this into partials
.highlighted {

}

.content {
	h1.page-title {
		text-align: center;
	}
}

.brand {
	h1.title {
		font-size: 1.5em;
	}
}



.donate {
	background: $beige;
	padding: 1em 0 5em;
	.cta {
		text-align: center;
	}
}
