
.padding-for-timeline {
    padding-top: 20px;
    background-color: #fff;
}

.iframe-timeline {
	min-width: 100%;
	height: 500px;

	@include breakpoint($bp-small) {
        width: auto;
        height: 600px;
    }

    @include breakpoint($bp-large) {
        width: auto;
        height: 700px;
    }

    .vco-slider .slider-container-mask .slider-container {
        top: 20px !important;
    }

}
