.primary,
.secondary,
.action {
  ul {
    margin: 0;
    padding: 0;
    > li {
      display: block;
      text-align: center;
      float: left;
      a {
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 0 0.75em;
        line-height: 110px;
        color: $drkBrown;
      }
    }
  }
}


// Primary
.primary {
	display: none;
	@include breakpoint($bp-small, $no-query: false) {
		width: 100%;
		float: none;
  }
	@include breakpoint($bp-medium, $no-query: false) {
    display: block;
  }
}

// Float Action Right
.action {
	ul {
		li {

		}
	}
}

// Basic Page Subnavigation
.basic {
	.main {
		.content {
			.subnav {
				text-align: center;
				margin: 1em 0;
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						list-style: none;
						a {
							padding: 0.5em;
						}
					}
				}
			}
		}
	}
}

// Subnavigation
.subnav {
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			padding: 1em;
			border-bottom: 1px solid #f1f1f1;
			a {
				text-decoration: none;
				color: $drkBrown;
				padding: 0.75em;
			}
			&:last-child {
        border-bottom: 0;
			}
			&.active {
				a {
					border-bottom: 1px solid $drkBrown;
				}
			}
		}
	}
}

footer {
  nav.primary,
  nav.secondary {
    ul li a {
      color: $orange;
    }
  }
}
