.primary-nav,
.secondary-nav {
	line-height: 70px;
  ul {
    margin: 0;
    padding: 0;
    > li {
      display: block;
      text-align: center;
      float: left;
      a {
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 0 0.75em;
      }
    }
  }
  @include breakpoint($bp-medium, $no-query: false) {
    line-height: 35px;
  }
  @include breakpoint($bp-large, $no-query: false) {
  	line-height: 70px;
  }
}


// Primary
.primary-nav {
  font-size: 0.875em;
  text-transform: uppercase;
  display: none;
  ul li {	
    a {
    	color: $drkBrown;
    }
  }
  @include breakpoint($bp-medium, $no-query: false) {
    display: block;
  }
  @include breakpoint($bp-large, $no-query: false) {
  	display: block;
  }
}

// Secondary
.secondary-nav {
  ul li {
  	margin-right: 1px;
  	a {
  	  background: $orange;
      color: $white;

      &[alt~=Donate],
      &[alt~=Help] {
      	display: none;
      	@include breakpoint($bp-medium, $no-query: false) {
          display: block;
        }
      }

      &[alt~=Menu] {
      	display: block;
      	font-size: 1.5em;
      	padding: 0 1em;
      	@include breakpoint($bp-medium, $no-query: false) {
          display: none;
        }
      }
    }
    &#site-search {
    	position: relative;
      #search-toggle {
        display: block;    	  
        background: $orange;
        color: $white;
        font-size: 1.5em;
        padding: 0 1em;
        position: relative;
        @include default-transition;

        &:hover {
          background: darken($orange, 5%);
        }
      }
      form {
      	position: absolute;
      	right: 100px;
      	top: 0;
      	width: 0px;
      	overflow: hidden;
        &.active {
        	width: 300px;
        }
      }
    }
  }
}

// Basic Page Subnavigation
.basic {
	.main {
		.content {
			.subnav {
				text-align: center;
				margin: 1em 0;
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						list-style: none;
						a {
							padding: 0.5em;
						}
					}
				}
			}
		}
	}
}

// Subnavigation
.subnav {
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			padding: 1em;
			border-bottom: 1px solid #f1f1f1;
			a {
				text-decoration: none;
				color: $drkBrown;
				padding: 0.75em;
			}
			&:last-child {
        border-bottom: 0;
			}
			&.active {
				a {
					border-bottom: 1px solid $drkBrown;
				}
			}
		}
	}
}

footer {
  nav.primary,
  nav.secondary {
    font-size: 1.1em;
    line-height: 3em;
    ul li a {
      color: $orange;
    }
  }

  nav.secondary ul li a {
    color: $green;
  }
}
