.primary-nav,
.secondary-nav {
	line-height: 70px;
	font-family: $header-font-family;
  ul {
    margin: 0;
    padding: 0;
    > li {
      display: block;
      text-align: center;
      float: left;
      a {
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 0 0.75em;
      }
    }
  }
  @include breakpoint($bp-medium, $no-query: false) {
    line-height: 35px;
  }
  @include breakpoint($bp-large, $no-query: false) {
  	line-height: 70px;
  }
}


// Primary
.primary-nav {
  font-size: 0.775em;
  text-transform: uppercase;
  display: none;
	@include breakpoint($bp-medium) {
		font-size: 0.775em;
	}
	@include breakpoint($bp-xlarge) {
		font-size: 0.875em;
	}
	@include breakpoint($bp-xxlarge) {
		font-size: 0.875em;
	}
	&.mobile-nav {
		clear: left;
		ul li {
			display: list-item;
			float: none;
			a {
				background: $orange;
			}
		}
	}
  ul li {
    a {
    	color: $beige;
    	&:hover {
        color: $white;
    	}
    }
  }
  @include breakpoint($bp-medium, $no-query: false) {
    display: block;
  }
  @include breakpoint($bp-large, $no-query: false) {
  	display: block;
  }
}

// Secondary
.secondary-nav {
  ul li {
  	a {
  	  background: $orange;
      color: $white;

      &[alt~=Donate],
      &[alt~=Help] {
      	display: none;
      	@include breakpoint($bp-medium, $no-query: false) {
          display: block;
        }
      }

      &[alt~=Menu] {
      	display: block;
      	font-size: 1.5em;
      	padding: 0 1em;
      	@include breakpoint($bp-medium, $no-query: false) {
          display: none;
        }
      }

			&:hover {
          background: darken($orange, 5%);
      }
    }

    &#site-search {
    	position: relative;
      #search-toggle {
        display: block;
        background: $orange;
        color: $white;
        font-size: 1.5em;
        padding: 0 1em;
        position: relative;
        @include default-transition;
      }
      form {
      	position: absolute;
      	right: 100px;
      	top: 0;
      	width: 0px;
      	overflow: hidden;
        &.active {
        	width: 300px;
        }
      }
    }
  }
}

// Basic Page Subnavigation
.basic {
	.main {
		.content {
			.subnav {
				text-align: center;
				margin: 1em 0;
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						list-style: none;
						a {
							padding: 0.5em;
						}
					}
				}
			}
		}
	}
}

// Subnavigation
.subnav {
	background: $drkBrown;
	text-align: center;
	padding: 0.75em 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			a {
				display: block;
				padding: 1em 2em;
				text-decoration: none;
				color: $orange;
				@include default-transition;

				&:hover {
          color: $beige;
				}
			}
      &:first-child {
        // background: darken($lgtBrown, 2);
        background: #43372F;
      }
			&:last-child {
        border-bottom: 0;
			}
			&.active {
				a {
					color: $beige;
					border-bottom: 1px solid $beige;
				}
			}
		}
	}
}

footer {
  nav.primary,
  nav.secondary {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}
