.highlighted {
  background: $white;
	.wrap {
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-height: 325px;

    .bg-img {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
      }
    }

    .page-header.has-background-image {
      min-height: 24em;
    }

    .page-header {
      position: relative;
      top: 3em;
      padding: 3.5em 0;
      width: 100%;
      min-height: 12em;
      max-width: 36em;
      margin: 0 auto;
      display: block;
      text-align: center;
      color: #FFF;

      .text {
        bottom: 6em;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      h1.page-title, h3 {
        color: $white;
        @include text-shadow(0 3px 10px $black);
      }

      h3 {
        @include text-shadow(0 2px 5px $black);
      }
    }
  }
}

// County detail header-font-family
.county-detail .highlighted .wrap {
  min-height: 490px;
}
