.section-header {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 2em 0 1.4em;
  font-weight: 300;
  span.divider {
    display: block;
    max-width: 30px;
    width: 100%;
    border-bottom: 4px #000 solid;
    margin: 0.65em auto 0;
  }
}

.highlighted {
	.section-header {
		color: $white;
		span.divider {
      border-bottom: 4px $white solid;
		}
	}
}