.splash {
  position: relative;
  margin: 0 auto;
  min-height: 525px;
  width: 100%;
  height: 100%;
  padding-bottom: 5em;

  .bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .leadin {
    margin: 0 auto;
    padding: 0 1.25em;
    width: 100%;
    max-width: 70%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 90;

    h1 {
      padding: 0 0 0.2em;
      color: $white;
      font-weight: 800;
      font-size: 3.25em;
      margin: 0 auto;
      line-height: 1.2em;
      @include text-shadow(0 3px 10px $black);
    }

    p {
      color: #fff;
      padding: 0 0 0.6em;
      font-weight: 300;
      font-size: 0.85em;
      margin: 0 auto;

      &.subline {
        line-height: 1;
        font-size: 1.75em;
        color: #FFF;
      }
    }
  }
}
