/*

Featured Statistic
======
  
  Styling for featuring statistics:

      <div class="data">
        <span class="stat">1 in 5</span>
        <span class="key">Texas families experienced food insecurity in 2010-2012</span>
      </div>

*/

.data {
  background: $orange;
  padding: 0.75em 2em;
  color: #FFF;
  text-align: center; 
  .stat {
    font-size: 2.5em;
    display: block;
  }
  .key {
    
  }
}
