body {
	font-family: $base-font-family;
	color: $drkBrown;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font-family;
  weight: 300;
  color: $drkBrown;
}

h1.page-title {
	text-transform: uppercase;
}