// Helper class for centering text
.center-txt {
	text-align: center;
}

.collapse {
	padding: 0 0 0.25em;
  margin-top: -0.125em;
}


// Layout Helper Classes
.row {
  @include clearfix;
}

.half {
  @include span-columns(6,12);
  &:nth-child(2n) { @include omega; } // every second item completes a row.
}

.third {
  @include span-columns(4,12);
  &:nth-child(3n) { @include omega; } // every third item completes a row.
}

.quarter {
  @include span-columns(3,12);
  &:nth-child(4n) { @include omega; } // every fourth item completes a row.
}