<!-- Begin MailChimp Signup Form -->
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
		<form action="//tfbn.us2.list-manage.com/subscribe/post?u=dbef64c7ad359a661d8c1d9f8&amp;id=1d9fdb3efb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<h2>Subscribe to our mailing list</h2>
			<p class="indicates-required"><span class="asterisk">*</span> indicates required</p>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label for="mce-FNAME">First Name </label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME">Last Name </label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-ORG">Organization </label>
				<input type="text" value="" name="ORG" class="" id="mce-ORG">
			</div>
			<div class="mc-field-group">
				<label for="mce-ZIP">ZIP Code </label>
				<input type="text" value="" name="ZIP" class="" id="mce-ZIP">
			</div>
			<div class="mc-field-group">
				<label for="mce-ADVOCACY">I am willing to advocate for hungry Texans by: </label>
				<select name="ADVOCACY" class="" id="mce-ADVOCACY">
					<option value=""></option>
					<option value="Signing petitions or group letters">Signing petitions or group letters</option>
					<option value="Calling my legislators">Calling my legislators</option>
					<option value="Writing / emailing my legislators">Writing / emailing my legislators</option>
					<option value="Writing to my local newspaper">Writing to my local newspaper</option>
					<option value="Visiting my legislators or providing testimony">Visiting my legislators or providing testimony</option>
					<option value="Organizing other local advocates">Organizing other local advocates</option>
					<option value="Newsletter only, please">Newsletter only, please</option>
				</select>
			</div>
			<div class="mc-field-group">
				<label for="mce-INTEREST">I am particularly interested in: </label>
				<select name="INTEREST" class="" id="mce-INTEREST">
					<option value=""></option>
					<option value="Charitable food / food banking">Charitable food / food banking</option>
					<option value="SNAP (food stamps)">SNAP (food stamps)</option>
					<option value="Child nutrition programs">Child nutrition programs</option>
					<option value="Senior or rural programs">Senior or rural programs</option>
					<option value="Economic Security">Economic Security</option>
					<option value="Dietary Health">Dietary Health</option>
				</select>
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_dbef64c7ad359a661d8c1d9f8_1d9fdb3efb" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary-btn"></div>
		</form>
	</div>

<!--End mc_embed_signup-->
