{%assign url_parts = page.url | remove_first: "/" | split: "/"%}
{%assign parent_len = url_parts | size | minus: 2 %}
{% for i in url_parts limit: parent_len %} 
  {% capture parent_url %}{{ parent_url | append: "/" | append: i }}{% endcapture %} 
{% endfor %} 
{% capture parent_url %}{{ parent_url | append: "/index.html" }}{% endcapture %} 

{% for node in site.pages %}
  {% if node.url == parent_url %}
    <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
  {% endif %}
{% endfor %}
