{% assign url_parts = page.url | remove_first: "/" | split: "/" %}
{% assign len = url_parts | size | minus: 1 %}
{% for i in url_parts limit: len %}
  {% capture base_url %}{{ base_url | append: "/" | append: i }}{% endcapture %}
{% endfor %}

{% for node in site.pages %}
  {% assign node_url_parts = node.url | remove_first: "/" | split: "/" %}
  {% assign filename = node_url_parts | last %}
  {% if node.url contains base_url and filename != "index.html" %}
    {% assign url_parts_size = url_parts | size %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% if url_parts_size == node_url_parts_size and filename != "index.html" %}
      <li><a href="{{ node.url }}">{{ node.title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
