header {
  .wrap {
    @include container(75em);
    padding: 0 0;
    @include breakpoint($bp-medium) {
      padding: 0 1em;
    }
  }
  .brand {
    width: 128px;
    float: left;
    @include breakpoint($bp-medium) {
      width: 150px;
      float: left;
    }
    @include breakpoint($bp-large) {
    }
  }
  .secondary-nav {
    overflow: hidden;
    @include breakpoint($bp-small, $no-query: false) {
      float: none;
      width: 100%;
    }
    @include breakpoint($bp-medium, $no-query: false) {
      float: right;
      width: 345px;
    }
    @include breakpoint($bp-large, $no-query: false) {
    }
  }
  .primary-nav {
    overflow: hidden;
    @include breakpoint($bp-small) {
      width: 100%;
      margin-left: 0;
      float: none;
    }
    @include breakpoint($bp-medium) {
      float: left;
      width: 675px;
    }
    @include breakpoint($bp-large) {
      float: left;
      width: 675px;
    }
  }
}
