header {
  .wrap {
    height: 70px;
    background: $drkBrown;
    @include container(75em);
    padding: 0 0;
    @include breakpoint($bp-medium) {
      padding: 0;
    }
  }
  .brand {
    width: 128px;
    float: left;
    background: $white;
    padding: 0;
    @include breakpoint($bp-medium) {
      width: 150px;
      float: left;
      padding: 14px;
    }
    @include breakpoint($bp-large) {
      padding: 14px;
    }
    .logo {
      display: block;
    }
  }
  .secondary-nav {
    float: right;
    @include breakpoint($bp-small, $no-query: false) {

    }
    @include breakpoint($bp-medium, $no-query: false) {
      float: right;
    }
    @include breakpoint($bp-large, $no-query: false) {
    }
  }
  .primary-nav {
    overflow: hidden;
    @include breakpoint($bp-small) {
      width: 100%;
      margin-left: 0;
      float: none;
    }
    @include breakpoint($bp-medium) {
      float: right;
      margin-left: 1em;
      width: auto;
    }
    @include breakpoint($bp-large) {
      float: left;
    }
  }
}
