header {
  .brand {
  	@include breakpoint($bp-small, $no-query: true) {
      @include span-columns(6,12);
      clear: both;
    }
    @include breakpoint($bp-medium, $no-query: true) {
      @include span-columns(6,12);
    }
    @include breakpoint($bp-large, $no-query: true) {
      @include span-columns(2,12);
    }
  }
  nav.primary {
  	overflow: hidden;
    @include breakpoint($bp-small, $no-query: true) {
      @include span-columns(12,12);
    }
    @include breakpoint($bp-medium, $no-query: true) {
      @include span-columns(12,12);
    }
    @include breakpoint($bp-large, $no-query: true) {
      @include span-columns(8,12);
    }
  }
  nav.action {
  	overflow: hidden;
  	@include breakpoint($bp-small, $no-query: true) {
      @include span-columns(12,12);
      @include clearfix;
    }
    @include breakpoint($bp-medium, $no-query: true) {
      @include span-columns(6,12);
      @include omega;
    }
    @include breakpoint($bp-large, $no-query: true) {
      @include span-columns(3,12);
    }
  }
}