/* -------------------------------------------------------------------------*/
/* Layout */

.wrap {
  @include container(60em);
  padding: 0 1em;
}

.the-latest {
  .wrap {
	  @include container(75em);
    padding: 0 1em;
  }
}

.highlighted {
	.wrap {
		@include container(90em);
	  @include clearfix;
  }
}

.main {
  margin-top: 1em;
  section,
  article {
    @include clearfix();
    .left {
      @include breakpoint($bp-medium, $no-query: false) {
        @include span-columns(12);
      }
      @include breakpoint($bp-large, $no-query: false) {
        @include span-columns(7,12);
      }
    }
    .right {
      @include breakpoint($bp-medium, $no-query: false) {
        @include span-columns(12);
      }
      @include breakpoint($bp-large, $no-query: false) {
        @include span-columns(5,12);
        @include omega;
      }
    }
  }
}

.content-bottom {
	.main {
		@include span-columns(7,12);
		article {
			.hero {
        @include span-columns(12,12);
      }
      .leadin {
        @include span-columns(12,12);
        @include pre(0); 
        @include omega;
      }
		}
	}
	.sidebar-second {
		@include span-columns(5,12);
		@include omega;
	}
}

footer {
  @include clearfix;
  clear: both;
}

