/* -------------------------------------------------------------------------*/
/* Layout */

.wrap {
  @include container(60em);
  padding: 0 1em;
}

.the-latest {
  .wrap {
	  @include container(75em);
    padding: 0 1em;
  }
}

.highlighted {
	.wrap {
		max-width: 100%;
	  @include clearfix;
  }
}

.main {
  margin-top: 1em;

  &.sidebar-second {
    .content {
      @include span-columns(8,12);
    }
  
    .sidebar-second {
      @include span-columns(4,12);
      @include omega;
    }
  }
  &.no-sidebars {
  	.content {
      width: columns(9); 
      margin: 0 auto;
    }
  }
}

.content-bottom {
	.main {
		@include span-columns(7,12);
		article {
			.hero {
        @include span-columns(12,12);
      }
      .leadin {
        @include span-columns(12,12);
        @include pre(0); 
        @include omega;
      }
		}
	}
	.sidebar-second {
		@include span-columns(5,12);
		@include omega;
	}
}

.the-latest {
  @include breakpoint($bp-xxsmall) {
    .featured-blog, .featured-resource {
      @include span-columns(6,12); 
    }

    .featured-resource {
      @include omega;
    }
  }
}

footer {
  @include clearfix;
  clear: both;
}

