---
layout: default
title: Press
calls_to_action:
  - 1
  - 2
---
<div class="basic wrap">
  <div class="main">
    <section class="content">
    	<h1 class="page-title">Press Releases</h1>
      {% for post in site.posts %}
        {% if post.layout == "press" %}
        <article class="teaser press">
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.pullquote }}</a> <span class="attribution">{{ post.attribution }}</span></h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <p>Published {{ post.date | date: "%B %-d, %Y"}}</p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-via="{{ site.twitter_handle }}" data-lang="en" data-text="{{ post.tweet }}">Tweet</a>
        </article>
        {% endif %}
      {% endfor %}
    </section>
    <section class="tags">
      <h2>Categories</h2>
      <ul>
      <!-- Alphabetical list of site tags -->
      {%capture site_tags %}{% for tag in site.tags %}{{ tag | first }},{%endfor%}{%endcapture%}
      {% assign site_tags = site_tags | split:',' | sort %}
      {% for tag in site_tags %}
        <li>
          <a href="/{{ site.tag_dir}}/{{ tag }}/">{{ tag }}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
  </div>
</div>

