---
layout: default
title: Press
calls_to_action:
  - 1
  - 2
---
<div class="post-detail">
  <div class="highlighted">
    <div class="wrap">
      <div class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        <form class="sign-up-action" action="{{site.baseurl}}/news/sign-up.html" method="GET">
          <h2>Subscribe to our mailing list</h2>
          <input type="text" name="email" placeholder="Enter email">
          <button type="submit" class="button primary-btn">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  <div class="main sidebar-second">
  	<div class="wrap">
      <section class="content">
        {% for post in site.posts %}
          {% if post.layout == "press" %}
          <article class="teaser press">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.pullquote }}</a> <span class="attribution">{{ post.attribution }}</span></h2>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <p>Published {{ post.date | date: "%B %-d, %Y"}}</p>
            <div class="tweet">{{ post.tweet }}<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-via="{{ site.twitter_handle }}" data-lang="en" data-text="{{ post.tweet }}">Tweet</a></div>
          </article>
          {% endif %}
        {% endfor %}
      </section>
      <aside class="sidebar-second">
        <h4>Categories</h4>
        <ul>
        <!-- Alphabetical list of site tags -->
        {%capture site_tags %}{% for tag in site.tags %}{{ tag | first }},{%endfor%}{%endcapture%}
        {% assign site_tags = site_tags | split:',' | sort %}
        {% for tag in site_tags %}
          <li>
            <a href="/{{ site.tag_dir }}/{{ tag | downcase | replace: ' ', '-' }}/">{{ tag }}</a>
          </li>
        {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>
{% if page.calls_to_action %}
  <div class="crosslinks">
    {% for cta in site.calls-to-action %}
      {% if page.calls_to_action contains cta.id %}
        <div class="cta">
          <div class="bg-img" style="background: url({{ site.baseurl }}/assets/images/cta/{{ cta.image }}) center center no-repeat">
            <img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
          </div>
          <div class="text">
            <h3>{{ cta.content }}</h3>
            <a class="button primary-btn" href="{{ cta.url }}">{{ cta.button_text }}</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
