// Base Colors
// ie. $green: #325113;
$green: #53682B;
$orange: #E98300;
$beige: #F6F3F0;
$drkBrown: #2E2118;
$lgtBrown: #94723E;
$white: #FFFFFF;
$black: #222222;

// Font Stack
$base-font-family: 'Merriweather', Georgia, serif;
$header-font-family: 'Open Sans', Helvetica, Arial, sans-serif;


// Breakpoints
// Breakpoints
$breakpoint-to-ems: 	true;

// Hi DPI
$bp-hidpi: 				min-resolution 1.5dppx;

// Small
$bp-small: 				550px;
$bp-xxsmall: 			720px;

// Medium
$bp-medium: 			880px;
$bp-xmedium: 			920px;
$bp-xxmedium: 		980px;

// Large
$bp-large: 				1024px;
$bp-xlarge: 			1260px;
$bp-xxlarge: 			1550px;
$bp-xxxlarge: 		1875px;
