---
layout: default
calls_to_action:
  - 1
  - 2
---
<div class="post-detail">
  <div class="highlighted">
    <div class="wrap">
      <div class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="main sidebar-second">
  	<div class="wrap">
  	  <section class="content">
        <div class="article-body">
          {{ content }}
        </div>
      </section>
      <aside class="sidebar-second">
      	{% if page.author %}
          {% for staff in site.staff %}
            {% if page.author == staff.id %}
              <div class="staff-member small">
                <div class="photo"><img src="{{ site.baseurl }}/assets/images/staff/{{ staff.image }}"></div>
                <div class="info">
                	<h3><a href="{{ site.baseurl }}{{ staff.url }}">{{ staff.name }}</a></h3>
                	<div class="position">{{ staff.position }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if page.tags.size > 0 %}
          <div class="tags">
            <span class="tag-label">Filed Under:</span>
            {{ page.tags | tag_links | join: ", " }}
          </div>
        {% endif %}
      </aside>
    </div>
  </div>
</div>
{% if page.calls_to_action %}
  <div class="crosslinks">
    {% for cta in site.calls-to-action %}
      {% if page.calls_to_action contains cta.id %}
        <div class="cta">
          <div class="bg-img">
            <img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
          </div>
          <div class="text">
            <h3>{{ cta.content }}</h3>
            <a class="button primary-btn" href="{{ cta.url }}">{{ cta.button_text }}</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}