---
layout: default
---
<div class="blog-detail">
  <div class="highlighted">
    <div class="wrap">
      <div class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="main sidebar-second">
  	<div class="wrap">
  	  <section class="content">
        <div class="post">
          {{ content }}
        </div>
      </section>
      <aside class="sidebar-second">
      	{% if page.author %}
          {% for staff in site.staff %}
            {% if page.author == staff.id %}
              <img src="{{ staff.image }}">
              <h3>{{ staff.name }}</h3>
              <p>{{ staff.position }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div class="tags">
          {% if page.tags.size > 0 %}
            <div class="tags">
              <span class="tag-label icon-bookmark-empty">Filed Under:</span>
              {{ page.tags | tag_links }}
            </div>
          {% endif %}
        </div>
      </aside>
    </div>
  </div>
</div>