---
layout: default
---
<div class="county-detail">
  <div class="highlighted">
  	<div class="wrap">
      <div class="bg-img">
        <div id="map">
          <script type="text/javascript">
            var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-i87786ca/{z}/{x}/{y}.png', {attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'});
            var map = L.map('map').addLayer(mapboxTiles);

            {% if page.polygonCoords %}
              var polygon = L.polygon([
                {% for coordSet in page.polygonCoords %}
                  [{{ coordSet.latitude }}, {{ coordSet.longitude }}],
                {% endfor %}
                ]).addTo(map);
              // zoom the map to the polyline
              map.fitBounds(polygon.getBounds());
            {% else %}
              map.setView([{{ page.latitude }}, {{ page.longitude }}], 13)
            {% endif %}
          </script>
        </div>
      </div>
      <div class="page-header">
        <h1 class="page-title">{{ page.county }} County<span class="postal">{{ page.zip }}</span></h1>
      	<h3>{{ page.subhead }}</h3>
      	<a class="button primary-cta" href="#help">Get Help</a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="wrap">
      <section class="content">
      	<h2 class="section-header"><span>Overview</span></h2>
      	<div class="block-grid">
      		<div class="container">
      			<div class="item">
              Cost of a meal is
              {{ page.weightedCostPerMeal }} – {{ 1 | minus: page.costOfFoodIndex | times: 100 }}%
              {% if page.costOfFoodIndex < 1 %}
                less
              {% else %}
                more
              {% endif %}
              than the national average.
      			</div>
      			<div class="item">	
              {{ page.individualFoodInsecurityRate }} of people have experienced food insecurity in this county in the last year.
      			</div>
      			<div class="item">
              {{ page.childFoodInsecurityRate }} of children in
              in {{ page.county }} have experienced food insecurity in the last year.
              That's {{ page.foodInsecureChildren }} children going hungry.
      			</div>
      		</div>
      	</div>
      </section>
      {% if page.constituent-story %}
        <section class="content">
          {% for story in site.constituent-stories %}
            {% if page.constituent-story == story.id %}
              <h2 class="section-header"><span>{{ story.name }}'s Story</span></h2>
              <p>{{ story.content }}</p>
            {% endif %}
          {% endfor %}
          <a class="button primary-cta" href="#">Tell us your story</a>
        </section>
      {% endif %}
      <section>
      	<h2 class="section-header"><span>Eligibility</span></h2>
      	<div class="block-grid">
      		<div class="container">
      			<div class="item">
              <img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
              {{ page.totalIncomeEligibleIndividuals }} people are eligible for SNAP benefits. Of those eligible, {{ page.incomeEligible0To17 }} are children, {{ page.incomeEligible18To64 }} are adults, and {{ page.incomeEligible65Plus }} are seniors.
      			</div>
      			<div class="item">	
      				<img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
              {% assign arr = 'page.totalSnapRecipients|page.totalIncomeEligibleIndividuals' | split: '|' %}
              {% assign b = arr | divide %}
              Only {{ b | times: 100 }} of eligible people are actually receiving SNAP benefits. This means {{ page.totalIncomeEligibleIndividuals | minus: page.totalSnapRecipients }} people are not participating in SNAP benefits when they could be.
      			</div>
      			<div class="item">
      				<img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
              SNAP only covers {{ page.averageBenefitperMeal }} of the {{ page.weightedCostPerMeal }} necessary for each meal.
      			</div>
      		</div>
      	</div>         
      </section>
      <section>
      	<h2 class="section-header"><span>Demographics</span></h2>
      	<div class="block-grid">
      		<div class="container">
      			<div class="item">
              <img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
      			</div>
      			<div class="item">	
      				<img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
      			</div>
      			<div class="item">
      				<img src="{{ site.baseurl }}/assets/images/placeholders/stat.png">
      			</div>
      		</div>
      	</div>         
      </section>
      <section id="help" class="content">
        <h2 class="section-header"><span>Get Help</span></h2>
        <p>SNAP saved us, said Sarah. In a recent Giving City Magazine interview, Sarah shared that SNAP has helped them to do more than merely survive in the face of debilitating health problems, pending surgeries, expensive medications and no health insurance. Thanks to vegetables seeds purchased with her SNAP benefits, Sara tends to her garden at home. "The smallest victories in those garden beds represent the tenacity of life," Sarah said.</p>
        <a class="button primary-cta" href="#">Tell us your story</a>
      </section>
    </div>
  </div>
  <div class="crosslinks">
  	{% for cta in page.calls_to_action %}
      <div class="cta">
      	<div class="bg-img">
      		<img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
      	</div>
      	<div class="text">
          <h3>{{ cta.title }}</h3>
          <a class="button primary-btn" href="{{ cta.link.url }}">{{ cta.link.button_text }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>