<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/images/favicon.png" />
  <!-- Component Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/bower_components/chosen/chosen.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/bower_components/flexslider/flexslider.css" />

  <!-- Main Stylsheet -->
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/stylesheets/main.css" />

  <!-- JavaScripts -->
  <script src="{{ site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34052437']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  {% include global/header.html %}

  {{ content }}

  {% include global/footer.html %}

  <!-- JavaScripts -->
  <script src="{{ site.baseurl}}/assets/bower_components/chosen/chosen.jquery.min.js"></script>
  <script src="{{ site.baseurl}}/assets/bower_components/flexslider/jquery.flexslider-min.js"></script>
  <script src="{{ site.baseurl}}/assets/js/app.js"></script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
