---
layout: default
---
<div class="landing">
  <div class="highlighted">
  	<div class="wrap">
      <div class="bg-img" style="background: url({{ page.banner }}) no-repeat center center;background-size:cover;">
      </div>
      <div class="page-header">
      	<h1 class="page-title">{{ page.title }}</h1>
      	<h3>{{ page.subhead }}</h3>
      	{% if page.cta_button %}
          <a class="button primary-cta" href="{{ page.cta_button.link }}">{{ page.cta_button.text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% include widgets/menu_structure/subnav.html %}
  <div class="main no-sidebars">
    <div class="wrap">
      <section class="content intro">
        {{ page.intro | markdownify }}
        <!--
        <div class="featured-block">
          <div class="data">
            <span class="stat">{{ page.featured_statistic.stat }}</span>
            <span class="key">{{ page.featured_statistic.key }}</span>
          </div>
          <div class="triangle">▼</div>
          {% for post in site.posts %}
            {% if post.title == page.featured_resource %}
              <div class="post-title">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        -->
      </section>
    </div>
  </div>
  <div class="content-bottom">
    <div class="wrap">
      {% assign url_parts = page.url %}
      {% if url_parts contains "learn" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "learn" %}
          <section>
          	<div class="hero">
          		<img src="{{ subpage.banner }}">
          	</div>
          	<div class="lead">
          		<h2 class="page-title"><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a><span class="divider"></span></h2>
          		<p>{{ subpage.summary }}
          	</div>
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "work" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "work" %}
          <section>
          	<div class="hero">
          		<img src="{{ subpage.banner }}">
          	</div>
          	<div class="lead">
          		<h2 class="page-title"><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a><span class="divider"></span></h2>
          		<p>{{ subpage.summary }}
          	</div>
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "get-involved" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "get-involved" %}
          <section>
          	<div class="hero">
          		<img src="{{ subpage.banner }}">
          	</div>
          	<div class="lead">
          		<h2 class="page-title"><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a><span class="divider"></span></h2>
          		<p>{{ subpage.summary }}
          	</div>
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "communities" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "communities" %}
          <section>
          	<div class="hero">
          		<img src="{{ subpage.banner }}">
          	</div>
          	<div class="lead">
          		<h2 class="page-title"><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a><span class="divider"></span></h2>
          		<p>{{ subpage.summary }}</p>
          	</div>
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  </div>
  {% include widgets/calls_to_action/calls-to-action.html %}
</div>
