---
layout: default
---
<div class="landing">
  <div class="highlighted">
    <img class="hero" src="{{ site.baseurl }}/assets/images/{{ page.banner }}">
    <div class="page-header">
    	<h1 class="page-title">{{ page.title }}</h1>
    	<h3>{{ page.subhead }}</h3>
    	<a class="button primary-cta" href="#">PRIMARY CTA</a>
    </div>
  </div>
  <div class="main">
    <div class="wrap">
      <section class="section intro">
        <div class="left">
          <h2>{{ page.intro.title }}</h2>
          {{ page.intro.text | markdownify }}
          <a href="{{ page.intro.link.url }}">{{ page.intro.link.title }}</a>
        </div>
        <div class="right">
        	<div class="featured-block">
        	  <div class="data">
              <span class="stat">{{ page.featured_statistic.stat }}</span>
              <span class="key">{{ page.featured_statistic.key }}</span>
            </div>
            <div class="triangle">▼</div>
            {% for post in site.posts %}
              {% if post.title == page.featured_resource %}
                <div class="post-title">
                  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <br />
          <a href="#" class="button secondary-btn">SECONDARY CTA</a>
        </div>
      </section>

      {% assign url_parts = page.url %}
      {% if url_parts contains "learn" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "learn" %}
          <section>
          	<div class="left">
          		<img src="{{ site.baseurl }}/assets/images/{{ subpage.banner }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "work" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "work" %}
          <section>
          	<div class="left">
          		<img src="{{ site.baseurl }}/assets/images/{{ subpage.banner }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "get-involved" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "get-involved" %}
          <section>
          	<div class="left">
          		<img src="{{ site.baseurl }}/assets/images/{{ subpage.banner }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "communities" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "communities" %}
          <section>
          	<div class="left">
          		<img src="{{ site.baseurl }}/assets/images/{{ subpage.banner }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}
      
      <section class="featured-stories">
        <h2>The Voices of Hungry Texans</h2>
        {% for link in site.data.stories %}
          <div class="story">
            <div class="pull-quote">{{ link.pullquote }}</div>
            <div class="byline">
              <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </div>
          </div>
        {% endfor %}
      </section>
    </div>
  </div>
  <div class="crosslinks">
  	{% for cta in page.calls_to_action %}
    <div class="how-we-help">
      <h3>{{ cta.title }}</h3>
      <a class="button primary-btn" href="{{ cta.link.url }}">{{ cta.link.button_text }}</a>
    </div>
    {% endfor %}
  </div>
</div>  