---
layout: default
---
<div class="landing {% if page.custom_class %}{{page.custom_class}}{% endif %}">
  <div class="highlighted">
    <div class="wrap">
      <div class="bg-img" style="background: url({{ page.banner }}) center center no-repeat;background-size:cover;">
      </div>
      <div class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        <h3>{{ page.subhead }}</h3>
        {% if page.cta_button %}
          <a class="button primary-cta" href="{{ page.cta_button.link }}">{{ page.cta_button.text }}</a>
        {% endif %}
      </div>
      {% if page.zip-widget == true %}
      <div class="finder">
        {% if page.type == "help" %}
        <h3>Input your home zip code to find your closest food bank</h3>
        <select id='options' data-placeholder="Zip code" class="chosen-select">
          <!-- Include blank option for placeholder value -->
          <option></option>
          {% for zipcode in site.data.zips %}
            <option value="{{ site.baseurl }}/zip/{{ zipcode }}#help">{{ zipcode }}</option>
          {% endfor %}
        </select>
        {% else %}
        <h3>Get statistics for your community:</h3>
        <select id='options' data-placeholder="Zip code" class="chosen-select">
          <!-- Include blank option for placeholder value -->
          <option></option>
          {% for zipcode in site.data.zips %}
            <option value="{{ site.baseurl }}/zip/{{ zipcode }}">{{ zipcode }}</option>
          {% endfor %}
        </select>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="subnav">
    <ul>
      {% include widgets/menu_structure/parent-page.html %}
      {% include widgets/menu_structure/subnav.html %}
    </ul>
  </div>
  <div class="main no-sidebars">
    <div class="wrap">
      <section class="content intro">
        <!-- Main page content -->
        {{ content }}
      </section>
      <!-- Page type specific content -->
      {% if page.type %}
      <div class="page-type-content">
        {% if page.type == "communities" %}
          {% for subpage in site.pages %}
            {% if subpage.group == "communities" %}
            <section>
              <div class="left">
                <img src="{{ subpage.images.thumb }}">
              </div>
              <div class="right">
                <h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
                <p>{{ subpage.summary }}
                {% if !subpage.link.title %}
                  <a class="button secondary-btn"> href="{{ subpage.link.url }}">{{ subpage.link.title }}</a>
                {% endif %}
              </div>
            </section>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.type == "programs" %}
          {% for subpage in site.pages %}
            {% if subpage.group == "program" %}
            <section>
              <div class="left">
                <img src="{{ subpage.images.thumb }}">
              </div>
              <div class="right">
                <h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
                <p>{{ subpage.summary }}
                {% if !subpage.link.title %}
                  <a class="button secondary-btn"> href="{{ subpage.link.url }}">{{ subpage.link.title }}</a>
                {% endif %}
              </div>
            </section>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.type == "jobs" %}
          {% for job in site.jobs %}
            <h2>{{ job.position }}</a></h2>
            <p>{{ job.content | markdownify }}</p>
          {% endfor %}
        {% endif %}

        {% if page.type == "staff" %}
          {% include widgets/staff/staff-list.html %}
        {% endif %}
        {% if page.type == "help" %}
        <div class="donate">
          <div class="cta">
            <h3>Help us work with our partners to end hunger in Texas</h3>
            <a class="button primary-btn" href="https://donatenow.networkforgood.org/feeding-texas">Donate Now</a>
          </div>
        </div>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
  {% include widgets/calls_to_action/calls-to-action.html %}
</div>
