---
layout: default
---
<div class="landing">
  <div class="highlighted">
    <img class="hero" src="{{ site.baseurl }}/assets/images/{{ page.banner }}">
    <div class="page-header">
    	<h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="main">
    <div class="wrap">
    	<div class="subnav">
      	<ul>
          {% assign pages_list = site.pages %}
          {% assign group = page.group %}
          {% include widgets/subnav.html %}
        </ul>
      </div>
      <section class="intro">
        <div class="left">
          <h2>{{ page.intro.title }}</h2>
          {{ page.intro.text }}
          <a href="{{ page.intro.link.url }}">{{ page.intro.link.title }}</a>
        </div>
        <div class="right">
        	<div class="featured-block">
        	  <div class="data">
              <span class="stat">{{ page.featured_statistic.stat }}</span>
              <span class="key">{{ page.featured_statistic.key }}</span>
            </div>
            <div class="triangle">▼</div>
            {% for post in site.posts %}
              {% if post.title == page.featured_resource %}
                <div class="post-title">
                  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
      {% assign url_parts = page.url %}

      {% if url_parts contains "communities" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "communities" %}
          <section>
          	<div class="left">
          		<img src="{{ subpage.images.thumb }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
              {% if !subpage.link.title %}
                <a class="button secondary-btn"> href="{{ subpage.link.url }}">{{ subpage.link.title }}</a>
              {% endif %}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if url_parts contains "programs" %}
        {% for subpage in site.pages %}
          {% if subpage.group == "program" %}
          <section>
          	<div class="left">
          		<img src="{{ subpage.images.thumb }}">
          	</div>
          	<div class="right">
          		<h2><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h2>
          		<p>{{ subpage.summary }}
              {% if !subpage.link.title %}
                <a class="button secondary-btn"> href="{{ subpage.link.url }}">{{ subpage.link.title }}</a>
              {% endif %}
          	</div>            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="crosslinks">
  	{% for cta in page.calls_to_action %}
    <div class="how-we-help">
      <h3>{{ cta.title }}</h3>
      <a class="button primary" href="{{ cta.link.url }}">{{ cta.link.button_text }}</a>
    </div>
    {% endfor %}
  </div>
</div>  