---
layout: default
---
<div class="main">
	<section class="content">
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}</p>

    <div class="post">
    {{ content }}
    </div>
  </section>
</div>
{% if page.calls_to_action %}
<div class="crosslinks">
  {% for cta in site.calls-to-action %}
    {% if page.calls_to_action contains cta.id %}
      <div class="cta">
        <div class="bg-img" style="background: url({{ site.baseurl }}/assets/images/cta/{{ cta.image }}) center center no-repeat">
        </div>
        <div class="text">
          <h3>{{ cta.content }}</h3>
          <a class="button primary-btn" href="{{ cta.url }}">{{ cta.button_text }}</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
