---
layout: default
---
<div class="landing">
  <div class="highlighted">
  	<div class="wrap">
	    {% if page.media.image %}
        <img src="{{ page.media.image }}">
      {% elsif page.media.map %}
        <iframe width='100%' height='500px' frameBorder='0' src='{{ page.media.map }}'></iframe>
      {% elsif page.media.timeline %}
        <iframe src='{{ page.media.timeline }}' width='100%' height='700' frameborder='0'></iframe>
      {% endif %}
    </div>
  </div>
</div>
<div class="main no-sidebars">
	<div class="wrap">
	  <section class="content">
      <h2>{{ page.title }}</h2>
      {% if page.download %}
      <a href="{{ page.download.file }}">{{ page.download.title }}</a>
      {{ content }}
      {% endif %}
    </section>
  </div>
</div>
{% include widgets/calls_to_action/calls-to-action.html %}
