---
layout: default
---

<div class="highlighted">
	<div class="wrap">
    <img src="{{ site.baseurl }}/assets/images/{{ page.images.hero }}">
  </div>
</div>
<div class="main">
	<div class="wrap">
	  <section class="content">
      <h2>{{ page.title }}</h2>
      <div class="post">
      {{ content }}
      </div>
    </section>
  </div>
</div>
{% if page.calls_to_action %}
  <div class="crosslinks">
    {% for cta in site.calls-to-action %}
      {% if page.calls_to_action contains cta.id %}
        <div class="cta">
          <div class="bg-img">
            <img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
          </div>
          <div class="text">
            <h3>{{ cta.content }}</h3>
            <a class="button primary-btn" href="{{ cta.url }}">{{ cta.button_text }}</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}