---
layout: default
---
<div class="landing">
  <div class="highlighted">
  	<div class="wrap">
      <div class="bg-img">
        <img src="{{ site.baseurl }}/assets/images/{{ page.banner }}">
      </div>
      <div class="page-header">
      	<h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="subnav">
    <ul>
      {% include widgets/parent-page.html %}
      {% include widgets/subnav.html %}
    </ul>
  </div>
  <div class="main no-sidebars">
    <div class="wrap">
      <section class="content intro">
        {{ page.intro }}
        <!--
        <div class="featured-block">
          <div class="data">
            <span class="stat">{{ page.featured_statistic.stat }}</span>
            <span class="key">{{ page.featured_statistic.key }}</span>
          </div>
          <div class="triangle">▼</div>
          {% for post in site.posts %}
            {% if post.title == page.featured_resource %}
              <div class="post-title">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        -->
      </section>
    </div>
  </div>

  <div class="content-bottom">
    <div class="wrap">
      {% include widgets/search/research-products.html %}
    </div>
  </div>

  {% if page.calls_to_action %}
    <div class="crosslinks">
      {% for cta in site.calls-to-action %}
        {% if page.calls_to_action contains cta.id %}
          <div class="cta">
            <div class="bg-img">
              <img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
            </div>
            <div class="text">
              <h3>{{ cta.content }}</h3>
              <a class="button primary-btn" href="{{ cta.link }}">{{ cta.button_text }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
