---
layout: default
---
<div class="landing staff-member detail">
  <div class="highlighted">
  	<div class="wrap">
      <div class="page-header">
      	<div class="photo">
      		<img src="{{ page.image }}">
      	</div>
      	<h1 class="page-title">{{ page.name }}</h1>
      	<h3>{{ page.position }}</h3>
      	<a class="button primary-btn" href="mailto:{{page.email}}">CONTACT</a>
      </div>
    </div>
  </div>
  <div class="main no-sidebars">
  	<div class="wrap">
      <section class="content intro">
        <p>{{ page.content }}</p>
      </section>
      {% include widgets/staff/staff-list.html %}
    </div>
  </div>
  {% include widgets/calls_to_action/calls-to-action.html %}
</div>
