---
layout: default
title: Blog Categories
---
<link rel="alternate" type="application/rss+xml" title="RSS - {{ page.tag }}" href="{{ site.baseurl }}/tag/{{ page.tag }}/rss.xml" />
<div class="highlighted blog">
  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="content blog">
  <section class="main">
    {% for post in site.tags[page.tag] reverse %}
      <article>
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a><h3>
        <p class="content-text">{{post.short}}</p>
      </article>
    {% endfor %}
    <p><a href="{{ site.baseurl }}/{{ page.feed_url }}/rss.xml">Subscribe to posts tagged "{{ page.tag }}"</a></p>
  </section>
</div>
