---
layout: default
title: County Data
---
<!-- County detail scpecific JavaScripts -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/modules/data.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/modules/drilldown.js"></script>

<script type="text/javascript">
$(function() {

  //########################
  // leaflet map generation
  //########################
  // create a map in the "map" div, set the view to state of texas and zoom
  var map = L.map('map', {'zoomControl': false}).setView([31.1693362, -100.0768425], 6);
  L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-i87786ca/{z}/{x}/{y}.png', {attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'}).addTo(map);
  map.addControl(L.control.zoom({position: 'topright'}));

  {% if page.data.polygonCoords %}
    var polygon = L.polygon([
      {% for coordSet in page.data.polygonCoords %}
        [{{ coordSet[0] }}, {{ coordSet[1] }}],
      {% endfor %}
      ]).addTo(map);
    // zoom the map to the polyline
    map.fitBounds(polygon.getBounds());
  {% elsif page.data.latitude and page.data.longitude %}
    map.setView([{{ page.data.latitude }}, {{ page.data.longitude }}], 13)
  {% endif %}

  Highcharts.theme = {
      colors: ['#53682B', '#E98300', '#0074B2', '#94723E', '#FF9B19', '#B0FF19',
               '#FF9655', '#FFF263', '#6AF9C4'],
      chart: {
          backgroundColor: null
      },
      title: {
          text: null
      },
      tooltip: {
          enabled: false,
      },
      plotOptions: {
          pie: {
              size: 150,
              center: ['50%', '50%'],
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.percentage:.1f}%'
              }
          }
      }
  };

  //########################
  // Highcharts
  //########################
  // Apply the theme
  Highcharts.setOptions(Highcharts.theme);
  // Pull all necessary frontmatter vars into json data object.
  var data = {{ page.data | jsonify }};

  var chart_data = [data.incomeEligible0To17, data.incomeEligible18To64, data.incomeEligible65Plus, data.incomeEligibleButNotReceiving65Plus]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentages').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Children', parseFloat(data.incomeEligible0To17) + parseFloat(data.incomeEligibleButNotReceiving0To17) ],
                ['Adults', parseFloat(data.incomeEligible18To64) + parseFloat(data.incomeEligibleButNotReceiving18To64) ],
                ['Seniors', parseFloat(data.incomeEligible65Plus) + parseFloat(data.incomeEligibleButNotReceiving65Plus) ]
            ]
        }]
    });
  }

  var chart_data = [data.totalSnapRecipients, data.totalIncomeEligibleButNotReceiving]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#participation').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Receiving', parseFloat(data.totalSnapRecipients) ],
                ['Not Receiving', parseFloat(data.totalIncomeEligibleButNotReceiving) ]
            ]
        }]
    });
  }

  var chart_data = [data.averageBenefitperMeal, data.weightedCostPerMeal]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentbenefits').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Covered', parseFloat(data.averageBenefitperMeal) ],
                ['Not Covered', parseFloat(data.weightedCostPerMeal)-parseFloat(data.averageBenefitperMeal) ]
            ]
        }]
    });
  }

  var chart_data = [data.recipientRaceWhite, data.recipientRaceBlack, data.recipientRaceNativeAmerican, data.recipientRaceAsian, data.recipientRacePacificIslander, data.recipientRaceMultiRace, data.recipientRaceUnknownMissing]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentrcvrace').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['White', parseFloat(data.recipientRaceWhite) ],
                ['Black', parseFloat(data.recipientRaceBlack) ],
                ['Native American', parseFloat(data.recipientRaceNativeAmerican) ],
                ['Asian', parseFloat(data.recipientRaceAsian) ],
                ['Pacific Islander', parseFloat(data.recipientRacePacificIslander) ],
                ['Multi-race', parseFloat(data.recipientRaceMultiRace) ],
                ['Unknown/Missing', parseFloat(data.recipientRaceUnknownMissing) ]
            ]
        }]
    });
  }

  var chart_data = [data.householdIncomeWithEarnedIncome]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentrcvworking').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Working', parseFloat(data.householdIncomeWithEarnedIncome) ],
                ['Non-Working', 1 - parseFloat(data.householdIncomeWithEarnedIncome) ]
            ]
        }]
    });
  }

  var chart_data = [data.recipients0To17, data.recipients18To64, data.recipients65Plus]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentrcvage').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Children', parseFloat(data.recipients0To17) ],
                ['Adults', parseFloat(data.recipients18To64) ],
                ['Seniors', parseFloat(data.recipients65Plus) ]
            ]
        }]
    });
  }

  var chart_data = [data.recipientEthnicityHispanic, data.recipientEthnicityNonHispanic, data.recipientEthnicityUnknownMissing]
  for (i = 0, len = chart_data.length; i < len; i++) {
    if ((!chart_data[i]) || chart_data[i] == '#N/A') {
      var print = false;
    }
    else {
      var print = true;
    }
  }
  if (print) {
    $('#percentrcvethnicity').highcharts({
        series: [{
            type: 'pie',
            data: [
                ['Hispanic', parseFloat(data.recipientEthnicityHispanic) ],
                ['Non-Hispanic', parseFloat(data.recipientEthnicityNonHispanic) ],
                ['Unknown/Missing', parseFloat(data.recipientEthnicityUnknownMissing) ]
            ]
        }]
    });
  }
});
</script>

<div class="county-detail">
  <div class="highlighted">
    <div class="wrap">
      <div class="bg-img">
      <div id="map"></div>
      </div>
      <div class="page-header">
        <h1 class="page-title">{{ page.data.county | capitalize}} County
          <span class="postal">{{ page.data.zip }}</span>
        </h1>
        <h3>{{ page.subhead }}</h3>
        <a class="button primary-cta" href="#help">Get Help</a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="wrap">
      <section id="overview" class="content">
        <h2 class="section-header"><span>In this county: </span></h2>
        <div class="row">
          <div class="third center-txt"><!-- Meal Cost -->
            <div id="cost"></div>
            <div class="key-stat">
              <p><span id="cost-of-meal" class="cost collapse">${{ page.data.weightedCostPerMeal }}</span> Cost of a meal</p>
            </div>
            {% assign fcdiff = '1' | minus: page.data.costOfFoodIndex | times: 100 %}
            {% if fcdiff < 0 %}
              {% capture fcdiff %}{{ fcdiff | times: '-1' }}{% endcapture %}
            {% endif %}
            <p>That's <strong>{{ fcdiff }}%</strong>{% if page.data.costOfFoodIndex < '1' %} less {% else %} more {% endif %} than the national average.</p>
          </div>
          <div class="third center-txt"><!-- Food Insecurity -->
            <div id="people"></div>
            <div class="key-stat">
              <p><span id="insecurity-rate" class="percentage collapse">{{ page.data.individualFoodInsecurityRate }}%</span> of people live in food insecure homes.</p>
            </div>
          </div>
          <div class="third center-txt"><!-- Childhood Insecurity -->
            <div id="children"></div>
            <div class="key-stat">
              <p><span id="child-insecurity-rate" class="percentage collapse">{{ page.data.childFoodInsecurityRate }}%</span> of children are at risk of hunger.</p>
            </div>
            <p>That's <strong>{{ page.data.foodInsecureChildren }}</strong> children going hungry.</p>
          </div>
        </div>
      </section>
      <section id="eligibility">
        <h2 class="section-header"><span>In this zip code: </span></h2>
        <div id="ageEligibility" class="row">
          <div class="half visualization">
            <div id="percentages"></div>
          </div>
          <div class="half narrative">
            <div class="key-stat">
              <p><span class="total">{{ page.data.totalIncomeEligibleIndividuals }}</span> people are potentially eligible for SNAP benefits...</p>
            </div>
            <div id="eligibility-age-breakdown" class="row">
              <div class="third">
                <span class="total">{{ page.data.incomeEligible0To17 }}</span>children
              </div>
              <div class="third">
                <span class="total">{{ page.data.incomeEligible18To64 }}</span>adults
              </div>
              <div class="third">
                <span class="total">{{ page.data.incomeEligible65Plus }}</span>seniors
              </div>
            </div>
          </div>
        </div>
        <div id="utilization" class="row">
          <div class="half narrative">
            <div class="key-stat">
              {% assign percent_receiving = page.data.totalSnapRecipients | percent: page.data.totalIncomeEligibleIndividuals %}
              ...but just <span class="total">{{ percent_receiving }}%</span> of them are actually receiving help.
            </div>
            <div class="key-stat">
              <span class="total">{{ page.data.totalIncomeEligibleIndividuals | minus: page.data.totalSnapRecipients }}</span> people are not receiving food aid when they could be.
            </div>
          </div>
          <div class="half visualization">
            <div id="participation"></div>
          </div>
        </div>
        <div id="benefit" class="row">
          <div class="half visualization">
            <div id="percentbenefits"></div>
          </div>
          <div class="half narrative">
            <div class="key-stat">
              Still, for those receiving SNAP the benefit only covers
              <span class="cost collapse">${{ page.data.averageBenefitperMeal }}</span>
              of the
            </div>
            <div class="key-stat">
              <span class="total collapse">${{ page.data.weightedCostPerMeal }}</span>
              necessary for each meal.
            </div>
          </div>
        </div>
      </section>
      <section id="demographics" class="row">
        <h2 class="section-header"><span>Who gets help from SNAP?</span></h2>
        <div class="half">
          <div id="percentrcvrace"></div>
        </div>
        <div class="half">
          <div id="percentrcvworking"></div>
        </div>
        <div class="half">
          <div id="percentrcvage"></div>
        </div>
        <div class="half">
          <div id="percentrcvethnicity"></div>
        </div>
      </section>
      <h2 class="section-header"><span>Need help?</span></h2>
      <section id="help" class="row">
        {% if page.data.constituentStory %}
        <div class="foodbank half">
          <h3><a href="{{ page.data.foodBank.website }}">{{ page.data.foodBank.name }}</a></h3>
          <p>{{ page.data.foodBank.address }}</p>
          <p>{{ page.data.foodBank.phone }}</p>
          <p><a href="{{ page.data.foodBank.website }}">{{ page.data.foodBank.website }}</a></p>
        </div>
        <div class="constituent-story half">
          <h3>{{ page.data.constituentStory.name }}'s Story</h3>
          <p>
            {% if page.data.constituentStory.image %}
            <img src="{{ page.data.constituentStory.image }}">
            {% endif %}
            {{ page.data.constituentStory.storyText }}
          </p>
          <p class="button"><a class="orange-button" href="https://docs.google.com/a/tfbn.org/forms/d/1V7xzLV2D9OgkW7bLUHeYzVqGyg5L103Iq3vGuNq19H4/viewform">Tell us your story!</a></p>
        </div>
        {% else %}
        <div class="foodbank center">
          <h3><a href="{{ page.data.foodBank.website }}">{{ page.data.foodBank.name }}</a></h3>
          <p>{{ page.data.foodBank.address }}</p>
          <p>{{ page.data.foodBank.phone }}</p>
          <p><a href="{{ page.data.foodBank.website }}">{{ page.data.foodBank.website }}</a></p>
        </div>
        {% endif %}
      </section>
    </div>
  </div>
  {% if page.calls_to_action %}
    <div class="crosslinks">
      {% for cta in site.calls-to-action %}
        {% if page.calls_to_action contains cta.id %}
          <div class="cta">
            <div class="bg-img">
              <img src="{{ site.baseurl }}/assets/images/cta/{{ cta.image }}">
            </div>
            <div class="text">
              <h3>{{ cta.content }}</h3>
              <a class="button primary-btn" href="{{ cta.url }}">{{ cta.button_text }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
