.post-detail {
	.highlighted {
    .wrap {
    	//min-height: 445px;
    	padding: 0 0 2em 0;
      .page-header {
        max-width: 50em;
				min-height: none;
        padding: 5em 0 0;
        top: auto;
        h1.page-title {
          color: $orange;
          font-family: $base-font-family;
					font-size: 2.75em;
          font-weight: normal;
          text-transform: none;

					@include breakpoint($bp-xxsmall) {
          	font-size: 3.5em;
	        }
        }
      }
    }
  }

	.main {
		padding-bottom: 2em;
		overflow: hidden;
	}

	.teaser.press {
		margin-bottom: 3em;
	}

  .article-body {
  	font-size: 1.25em;
    line-height: 1.85em;
  }

  .staff-member.small {
    .photo {
    	margin: 0;
    	height: 100px;
    	width: 100px;
    	img {
    		height: 100px;
    		width: 100px;
    	}
    }
    .info {
      text-align: left;
      color: $black;

      h3 {
      	margin: 0.25em 0;
      }

      .position {
      	font-size: 0.875em;
      }

      a {
      	color: $drkBrown;
      	@include default-transition;
      	&:hover {
          color: $orange;
      	}
      }
    }
  }
}
