<div class="basic wrapp">
  <div class="main">
    <section class="content">
      <h1 class="page-title">Search</h2>
      <script>
        (function() {
          var cx = '013334758451830925884:ufzwe5_aot0';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchresults-only></gcse:searchresults-only>
    </section>
  </div>
</div>
