<div class="filters">
  <ul>
  	<li><em>Filter By</em></li>
  	<li>
	    <label>Product Type:</label>
      <select id="product-type" name="ProductType">
      	<option value="all">All</option>
      	<option value="data">Data</option>
      	<option value="report">Report</option>
      	<option value="factsheet">Factsheet</option>
      </select>
    </li>
    <li>
      <label>Topic:</label>
      <select id="topic" name="Topic">
      	<option value="all">All</option>
      	<option value="food-insecurity">Hunger &amp; Food Insecurity</option>
      	<option value="report">Healthy Eating</option>
      	<option value="snap">SNAP</option>
      	<option value="seniors">Seniors</option>
      	<option value="rural-communities">Rural Communities</option>
      	<option value="disabled">Disabled</option>
      	<option value="child-nutrition-programs">Children</option>
      	<option value="military">Military</option>
      </select>
    </li>
  </ul>
</div>

<div class="product-list">
  {% for product in site.products %}
    {% if product.featured == true %}
      <div class="product teaser" data-type="{{ product.type }}" data-topic="{% for category in product.categories %}{{ category | replace:' ','-' }} {% endfor %}">
        <span class="label">{{ product.type }}</span>
        <!--<img src="http://placehold.it/450x250&text=Product Type Icon" />-->
        <h2><a href="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a></h2>
        <p>{{ product.summary }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>