{% assign menu_items = '' %}
<!-- Get child pages -->
{% assign url_parts = page.url | remove_first: '/' | remove: 'index.html' | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign len = url_parts_size | minus: 1 %}
{% for i in url_parts limit: len %}
  {% capture base_url %}{{ base_url | append: "/" | append: i }}{% endcapture %}
{% endfor %}
{% for node in site.pages %}
  {% assign node_url_parts = node.url | remove_first: '/' | remove: 'index.html' | split: '/' %}
  {% if node.url contains base_url %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% if url_parts_size > 1 %}
      {% if url_parts_size == node_url_parts_size %}
        {% capture menu_items %}{{ menu_items | append: '|' | append: node.title | append: ',' | append: node.url }}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign output = menu_items | split: '|' %}
{% if output != empty %}
  <div class="subnav">
    <ul>
      {% assign count = '1' %}
      {% for node in output %}
        {% if count > '1' %}
          {% assign item = node | split: ',' %}
          {% assign node_url = item | last %}
          {% assign node_title = item | first %}
          {% if page.url == node_url%}
          <li class="active"><a href="{{ site.baseurl }}{{ node_url | remove: 'index.html' }}" class="active">{{ node_title }}</a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}{{ node_url | remove: 'index.html' }}">{{ node_title }}</a></li>
          {% endif %}
        {% endif %}
        {% capture count %}{{ count = count | plus: '1'}}{% endcapture %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
